---
interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;
---

<button
  type="button"
  class="inline-block py-3 px-4 md:py-2 border-2 border-white rounded-sm shadow-[3px_3px_0_0_#AE1E5F]
    text-center text-white uppercase font-semibold tracking-wide
    hover:bg-white hover:text-black"
>
  <a href={href} aria-label={label} target="_blank" rel="noopener noreferrer">
    {label}
  </a>
</button>
