---
interface Props {
  label: string;
  href: string;
  external?: boolean;
}

const { label, href, external = false } = Astro.props;
---

<a class="text-center py-3 md:py-4 text-white" href={href} aria-label={label}>
  <p>{label}</p>
</a>
