---
import Section from "@components/content/Section.astro";
import ExperienceItem from "@components/content/ExperienceItem.astro";
import { educationHistory } from "@data/educationData";
---

<Section heading="Education">
  {
    educationHistory.map((experience) => (
      <ExperienceItem experience={experience} />
    ))
  }
</Section>
