---
import Section from "@components/content/Section.astro";
import ExperienceItem from "@components/content/ExperienceItem.astro";
import { educationHistory } from "@data/educationData";
---

<Section heading="Education">
  <div class="flex flex-col gap-10 md:gap-0">
    {
      educationHistory.map((experience, i) => (
        <ExperienceItem
          experience={experience}
          first={i === 0}
          last={i === educationHistory.length - 1}
        />
      ))
    }
  </div>
</Section>
