---
import Section from "@components/content/Section.astro";
import ExperienceItem from "@components/content/ExperienceItem.astro";
import { workExperience } from "@data/experienceData";
---

<Section heading="Work experience">
  {
    workExperience.map((experience) => (
      <ExperienceItem experience={experience} />
    ))
  }
</Section>
