---
import Section from "@components/content/Section.astro";
import ExperienceItem from "@components/content/ExperienceItem.astro";
import { workExperience } from "@data/experienceData";
---

<Section heading="Work experience">
  <div class="flex flex-col">
    {
      workExperience.map((experience, i) => (
        <ExperienceItem
          experience={experience}
          first={i === 0}
          last={i === workExperience.length - 1}
        />
      ))
    }
  </div>
</Section>
