---
import { IconButton, ButtonLink } from "@components/ui";
import { MAIL_URL } from "@constants";
---

<div
  class="flex flex-col gap-8 w-full justify-end lg:justify-start text-white py-16"
>
  <div class="flex flex-col gap-12 lg:gap-4 w-full">
    <div
      class="flex flex-row font-cormorand uppercase items-center justify-between"
    >
      <!-- <h1 class="text-5xl md:text-8xl xl:text-4xl font-medium">
        Lucca Romaniello
      </h1> -->
      <h1
        class="text-5xl font-satoshi leading-snug font-bold inline-block text-white tracking-wider"
      >
        <!-- LUCCA ROMANIELLO Full Stack Engineer with a product design background -->
        Lucca Romaniello
      </h1>
    </div>
    <div
      class="flex flex-col gap-2 leading-relaxed font-light text-content-secondary tracking-wide"
    >
      <p>
        Full Stack Engineer with a product design background. 6+ years blending
        engineering and design.
      </p>
      <p>
        Based in Brazil, working globally. Open to full-time and freelance work.
      </p>
    </div>
  </div>
  <div class="text-content-secondary">
    <p class="font-caveat text-xl">
      On most days, you’ll find me with some
      <a
        href="https://en.wikipedia.org/wiki/P%C3%A3o_de_queijo"
        target="_blank"
        rel="noopener noreferrer"
      >
        pão de queijo
      </a>
      and a cup of black coffee. No sugar. This one is for you:
    </p>
  </div>
  <div class="flex flex-row gap-8">
    <ButtonLink label="GitHub" href={MAIL_URL} />
    <ButtonLink label="LinkedIn" href={MAIL_URL} />
    <ButtonLink label="Contact" href={MAIL_URL} />
  </div>
</div>

<style>
  img.background {
    background-image: url("../assets/bg.jpg");
  }
</style>
