---
import Section from "@components/content/Section.astro";
import ProjectCard from "@components/projects/ProjectCard.astro";
import { PROJECT_ODIN_LIVE_URL, PROJECT_ODIN_REPO_URL } from "@constants";
import topImage from "@assets/placeholder-top.png";
---

<Section heading="Selected work">
  <div class="flex flex-col gap-12">
    <ProjectCard
      title="The Odin Project"
      description="A collection of 27 challenges created during The Odin Project, a full‑stack web‑development curriculum."
      website={{ href: PROJECT_ODIN_LIVE_URL, external: false }}
      repository={PROJECT_ODIN_REPO_URL}
      image={{
        src: topImage,
        alt: "An overview of The Odin Project's website.",
      }}
    />
  </div>
</Section>
