@import "tailwindcss";

:root {
  --neutral-primary: hsl(60, 0%, 0%);
  --neutral-secondary: hsl(0, 0%, 55%);
  --primary: hsl(332, 70%, 40%);
}

@font-face {
  font-family: Satoshi;
  font-display: optional;
  src: url("fonts/Satoshi-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-display: optional;
  src: url("fonts/PlayfairDisplay-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Caveat";
  font-display: optional;
  src: url("fonts/Caveat-Variable.woff2") format("woff2");
}

@theme {
  --font-playfair: "Playfair Display", sans;
  --font-cormorand: "Cormorand Garamond", sans;
  --font-satoshi: "Satoshi", sans-serif;
  --font-caveat: "Caveat", sans-serif;
  --background: var(--neutral-primary);
  --color-content-secondary: var(--neutral-secondary);
  --color-primary: var(--primary);
}

body {
  font-family: Satoshi, sans-serif;
  background-color: var(--neutral-primary);
}
