@import "tailwindcss";

@import url("typography.css");

:root {
  --black: #020307;
  --white: #FFFFFF;
  --light-white: #FFEAF2;
  --gray-secondary: #6F6F6F;
}

@font-face {
  font-family: Satoshi;
  font-display: optional;
  src: url("fonts/Satoshi-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-display: optional;
  src: url("fonts/PlayfairDisplay-Variable.woff") format("woff2");
}

@font-face {
  font-family: "Playfair Display Italic";
  font-display: optional;
  src: url("fonts/PlayfairDisplay-Italic-Variable.woff2") format("woff2");
}

@theme {
  --font-playfair: "Playfair Display", sans;
  --font-playfair-italic: "Playfair Display Italic", sans;
  --font-satoshi: "Satoshi", sans-serif;
}

body {
	font-family: "Satoshi", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
  background-color: var(--light-white);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.7;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
