---
import { type Link } from "@typeDefs/link";
import TextLink from "@components/ui/TextLink.astro";

interface Props {
  title: string;
  links: Link[];
}
const { title, links } = Astro.props;
---

<div class="flex flex-col gap-3 flex-wrap">
  <p class="text-md font-medium">{title}</p>
  <ul class="flex flex-row md:flex-col flex-wrap md:flex-nowrap gap-3">
    {
      links.map((link) => (
        <li>
          <TextLink link={link} size="small" track={link.track} />
        </li>
      ))
    }
  </ul>
</div>
