---
import SectionHeading from "@components/typography/SectionHeading.astro";

interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<section class="flex flex-col gap-4 items-center py-12 md:py-20">
  <SectionHeading title={heading} />
  <div class="flex flex-col gap-4 md:gap-8 lg:gap-12 text-white w-full">
    <slot />
  </div>
</section>
