---
import SectionHeading from "@components/typography/SectionHeading.astro";
import WorkExperience from "@components/content/WorkExperience.astro";
import { workExperience } from "@data/experienceData";
---

<section class="flex flex-col gap-4 items-center py-12 md:py-40">
  <SectionHeading title="Work experience" />
  <div class="flex flex-col gap-4 md:gap-8 lg:gap-12 px-2 lg:px-24 text-white">
    {
      workExperience.map((experience) => (
        <WorkExperience experience={experience} />
      ))
    }
  </div>
</section>
