---
import TextLink from "@components/ui/TextLink.astro";
import FooterLink from "@components/content/FooterLink.astro";
import {
  PROJECT_ODIN_LIVE_URL,
  PROJECT_PORTFOLIO_V0_URL,
  MAIL_URL,
  LINKEDIN_URL,
  GITHUB_URL,
} from "@constants";
import luccaIcon from "@assets/icons/lucca.png";
import { Image } from "astro:assets";

const workLinks = [
  {
    label: "The Odin Project",
    url: PROJECT_ODIN_LIVE_URL,
  },
];

const contactLinks = [
  {
    label: "Email",
    url: MAIL_URL,
  },
  {
    label: "GitHub",
    url: GITHUB_URL,
  },
  {
    label: "LinkedIn",
    url: LINKEDIN_URL,
  },
];

const timeMachineLinks = [
  {
    label: "Version 0",
    url: PROJECT_PORTFOLIO_V0_URL,
  },
];
---

<footer
  class="flex flex-row gap-4 md:gap-8 lg:gap-24 md:pb-24 md:pt-48 px-8 lg:px-24 w-full text-content-secondary items-start justify-around font-light"
>
  <div class="flex flex-col gap-10">
    <Image
      src={luccaIcon}
      alt="Lucca's illustration"
      class="w-14 h-14 rounded-full shadow-[1px_1px_0_0_#AE1E5F]"
    />
    <div class="flex flex-col">
      <p class="text-md md:text-lg">
        If you have something in mind, feel free to reach me out.
      </p>
      <div class="self-start">
        <!-- TODO: Copy mail on click -->
        <TextLink link={{ label: MAIL_URL, url: MAIL_URL }} size="large" />
      </div>
    </div>
    <div class="text-sm text-content-secondary">
      <p>&copy 2025 Designed and coded by Lucca Romaniello.</p>
    </div>
  </div>
  <div class="flex flex-row gap-24">
    <FooterLink title="Work" links={workLinks} />
    <FooterLink title="Contact" links={contactLinks} />
    <FooterLink title="Time Machine" links={timeMachineLinks} />
  </div>
</footer>
