---
import SectionHeading from "@components/typography/SectionHeading.astro";
import ProjectCard from "@components/projects/ProjectCard.astro";
import {
  PROJECT_ODIN_LIVE_URL,
  PROJECT_ODIN_REPO_URL,
  PROJECT_DESIGN_LIVE_URL,
} from "@constants";
---

<div id="projects">
  <SectionHeading title="Projects" />
  <div class="flex flex-col gap-8">
    <ProjectCard
      title="The Odin Project"
      description="A collection of 27 challenges created during The Odin Project, a full‑stack web‑development curriculum."
      website={PROJECT_ODIN_LIVE_URL}
      repository={PROJECT_ODIN_REPO_URL}
    />
    <ProjectCard
      title="Design archive"
      description=`The first version of this portfolio showcases my past design work.
      Some items are password protected, but I’m happy to provide access upon
      request.`
      website={PROJECT_DESIGN_LIVE_URL}
    />
  </div>
</div>

<style>
  #projects {
  }
</style>
