---
import { MAIL_URL } from "@constants";
import ButtonLink from "@components/ui/ButtonLink.astro";
---

<header>
  <nav
    class="flex flex-row w-full h-24 justify-between items-center z-10 fixed bg-transparent px-8 text-white"
  >
    <!-- <div class="flex flex-row gap-6">
      <ButtonLink label="Contact" href={MAIL_URL} />
    </div> -->
  </nav>
</header>
