---
import Hero from "@components/Hero.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "@components/sections/Footer.astro";
import TopNav from "@components/navigation/TopNav.astro";
import Projects from "@components/sections/Projects.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import SideLinks from "@components/navigation/SideLinks.astro";
import Experience from "@components/sections/Experience.astro";
import Education from "@components/sections/Education.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-satoshi">
    <TopNav />
    <SideLinks />
    <Hero />
    <main class="px-8">
      <Projects />
      <Experience />
      <Education />
    </main>
    <Footer />
  </body>
</html>
