---
import { Hero, Projects, Experience, Education, Footer } from "@modules";
import { BaseHead } from "@components";
import {
  SITE_DESCRIPTION,
  SITE_TITLE,
  baseLayout,
  baseSpacing,
} from "@constants";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-satoshi">
    <main>
      <Hero />
      <div class={`${baseLayout} mt-36`}>
        <Projects />
        <!-- <Experience /> -->
        <!-- <Education /> -->
      </div>
    </main>
    <!-- <Footer class={baseLayout} /> -->
  </body>
</html>
