---
import videoSrc from "../assets/placeholder-bg.mp4";
---

<video
  autoplay
  loop
  muted
  class="absolute top-0 left-0 w-full h-full brightness-50 grayscale object-cover"
>
  <source src={videoSrc} type="video/mp4" />
  Your browser does not support the video tag.
</video>
<div
  class="relative flex flex-col lg:flex-row w-full h-screen justify-end lg:justify-start items-center text-white min-h-screen px-8 py-8"
>
  <div class="flex flex-col gap-12 lg:gap-24 lg:w-2/3">
    <div
      class="flex flex-col gap-2 md:gap-4 font-cormorand text-center lg:text-start uppercase"
    >
      <h1
        class="text-5xl md:text-8xl xl:text-9xl font-medium xl:leading-32 2xl:leading-30"
      >
        Lucca Romaniello
      </h1>
      <h2
        class="text-base xl:text-2xl font-satoshi leading-snug font-light inline-block text-white/60 tracking-wider"
      >
        Full Stack Engineer with a product design background
      </h2>
    </div>
    <div
      class="flex flex-col gap-2 leading-relaxed text-center lg:text-start xl:text-xl font-light 2xl:pr-24 text-content-secondary tracking-wide"
    >
      <p>6+ years blending engineering and design.</p>
      <p>
        Based in Brazil, working globally. Open to full-time and freelance work.
      </p>
      <video
        autoplay
        muted
        width="320"
        height="240"
        class="absolute top-0 left-0 w-full h-full brightness-20 grayscale"
      >
        <source src="../assets/placeholder-bg.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="order-first lg:order-none text-content-secondary">
    <p class="font-caveat text-xl text-center mx-12">
      On most days, you’ll find me with some
      <a
        href="https://en.wikipedia.org/wiki/P%C3%A3o_de_queijo"
        target="_blank"
        rel="noopener noreferrer"
      >
        pão de queijo
      </a>
      and a cup of black coffee. No sugar.
    </p>
    <p class="font-caveat text-xl text-center">
      This one is for you!
      <!-- <span>Don’t worry, it’s still warm.</span> -->
    </p>
  </div>
</div>

<style>
  img.background {
    background-image: url("../assets/bg.jpg");
  }
</style>
