---
interface Props {
  label: string;
  href: string;
  external?: boolean;
}

const { label, href, external = true } = Astro.props;
---

<a
  href={href}
  aria-label={label}
  rel="noopener noreferrer"
  target={external ? "_blank" : "_self"}
  class="w-full md:w-auto inline-block py-3 px-4 md:py-2 border-2 border-white
  rounded-sm shadow-[3px_3px_0_0_#AE1E5F] text-sm md:text-base text-center
  text-white uppercase font-semibold tracking-wide hover:bg-white
  hover:text-black cursor-pointer"
>
  {label}
</a>
