---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span
  class="md:w-auto inline-block py-1 px-3 rounded-full
      text-xs text-center font-light tracking-wide bg-primary-light/3 text-primary
      shadow-[0_1px_0_0_rgba(174,30,95,0.15)]"
>
  {label}
</span>
