---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span
  class="md:w-auto inline-block py-1 px-3 border-1 rounded-full
      text-xs text-center font-medium border-content-secondary/50 tracking-wide"
>
  {label}
</span>
