---
import Chip from "@components/ui/Chip.astro";

interface Props {
  chips: string[];
}

const { chips } = Astro.props;
---

<div class="flex flex-row flex-wrap items-start gap-2 py-2 text-white">
  {chips.map((chip) => <Chip label={chip} />)}
</div>
