---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span
  class="md:w-auto inline-block py-2 px-4 md:py-2 lg:py-2 border-1 rounded-full
      text-xs text-center font-medium border-content-secondary/50 uppercase tracking-wide"
>
  {label}
</span>
