---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<span
  class="md:w-auto inline-block py-1 px-3 rounded-full
      text-xs text-center font-medium tracking-wide bg-primary/10 text-primary-light"
>
  {label}
</span>
