---
import { SOCIAL_ICONS } from "@constants";

interface Props {
  icon: keyof typeof SOCIAL_ICONS;
}

const { icon } = Astro.props;
const IconComponent = SOCIAL_ICONS[icon].icon;
---

<a
  href={SOCIAL_ICONS[icon].link.url}
  title={SOCIAL_ICONS[icon].link.label}
  aria-label={SOCIAL_ICONS[icon].link.label}
  target="_blank"
  rel="noopener noreferrer"
  class={`text-white hover:text-primary w-6 h-6 2xl:w-8 2xl:h-8`}
>
  <IconComponent />
</a>
