---
import { type Link } from "@typeDefs/link";

interface Props {
  link: Link;
  size?: "small" | "medium" | "large";
}

const { link, size = "medium" } = Astro.props;

const buttonVariant = {
  small: "text-sm md:text-base",
  medium: "text-md md:text-lg",
  large: "text-lg md:text-2xl",
};
---

<a
  href={link.url}
  aria-label={link.label}
  target="_blank"
  rel="noopener noreferrer"
  class={`${buttonVariant[size]} inline-block text-primary tracking-wide
  border-dashed border-primary border-b
  relative hover:text-neutral-primary transition-colors duration-500 ease-in-out
  after:content-[''] after:absolute after:bottom-[-1px] after:left-0 after:h-0.5 after:bg-primary after:w-0 after:block after:transition-[width] after:duration-500 after:ease-in-out hover:after:w-full`}
>
  {link.label.trim()}
</a>
